#homenav {
    text-align: right;
    padding-top: 20px;
}

.elink1 {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
}



.elink1:hover {
  text-decoration: underline;
}
.animated-text{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
     
}
@media only screen and (max-width: 1080px) {
  .line {
   font-size: 30px;
  }
}

.line:first-child{
  animation: anim 10s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}
