#homenav {
    text-align: right;
    padding-top: 20px;
}

.elink1 {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
}



.elink1:hover {
  text-decoration: underline;
}